body {
    font-family:'Comic Neue',cursive;
 background-color:#ffe6f2 ;
 color:#7db2ff ;
 padding:40px;
    text-align:center;
 font-size:20px;
}

h1{
 font-size:38px ;
  color:#7db2ff;
}

h2 {
 font-size:26px;
color:#7db2ff;
}

p{ font-size:20px }

ul{
 list-style-type: circle;
   display:inline-block;
    font-size:20px;
 text-align:left;
}

.contact-button {
 display:inline-block;
 background-color:#aecbff ;
 padding:11px 24px ;
 border-radius:12px;
 font-size:18px;
 text-decoration:none;
color:white;  
 margin-top:12px;
}